<h2><%= Comment.model_name.human %></h2>
<%= form_with( model: [commentable, Comment.new], local: true) do |form| %>
  <div class="field">
    <%= form.text_area :content, required: true  %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
