<% commentable.comments.each do |comment| %>
  <p>
  <strong>User:</strong>
  <%= link_to @user.name, @user %>
  <%= link_to @user.email, @user if @user.name.empty? %>
</p>

<p>
  <strong>Content:</strong>
  <%= comment.content %>
</p>

<p>
  <strong>Posting time:</strong>
  <%= l comment.created_at, format: :long %>
</p>
<% end %>
